* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #808080;
}

header nav {
    /* border-bottom: 5px solid #100f0f00; */
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a img {
    min-height: 36px;
    height: 100px;
}

footer {
    text-align: center;
    font-weight: 600;
}