* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(linking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a img {
    min-height: 36px;
    height: 100px;
}

footer {
    text-align: center;
    font-weight: 600;
}
